@use 'breakpoints' as *;

.gallery {
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
  background-color: transparent;
  
  @include responsive-block((
    width: 772px,
    height: 856px
  ));
}

.galleryItem {
  overflow: hidden;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out, left 0.3s ease-in-out, top 0.3s ease-in-out;
  @include responsive-block((border-radius: 40px));
  @include responsive-shadow(0px, 0px, 5px, rgba(0, 0, 0, 0.2));
}

.galleryItem:hover {
  z-index: 2;
  @include responsive-block((border-radius: 60px));
  @include responsive-shadow(0px, 0px, 10px, rgba(0, 0, 0, 0.5));
}

.image {
  @include responsive-block((border-radius: 10px));
}
