@use 'breakpoints' as *;

.textBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .allSubtitles {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-family: var(--montserrat), sans-serif;
    font-weight: normal;
    color: #fffff0;
    line-height: 1;
    
    @include responsive-block((
      padding-left: 3px,
      font-size: 22px
    ));
  }

  .title {
    display: flex;
    align-items: center;
    font-family: var(--tactic-sans-medium), sans-serif;
    font-weight: 500;
    color: #A8DADC;
    
    @include responsive-block((
      min-height: 96px,
      font-size: 40px
    ));
  }
}
