.teamRepresentativesWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 16px 0;
  box-sizing: border-box;
  margin-top: 284px;

  .title {
    width: 361px;
    font-family: var(--tactic-sans-bold), sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #FFFFF0;
    margin: 0 0 68px 0;
    line-height: 1.1;
    text-align: left;
  }

  .cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 7px;
    width: 361px;
  }

  .personCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 177px;
    height: 170px;
    background-color: #2A3654;
    border-radius: 24px;
    padding: 5px 4px 5px 5px;
    box-sizing: border-box;
    cursor: pointer;

    &:active {
      opacity: 0.8;
    }

    &.opened {
      width: 361px;
      height: auto;
      background-color: #FFFFF0;
      border-radius: 40px;
      padding: 16px;
      flex-direction: row;
    }
  }
}
