.firstSlideWrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 100svh;
  overflow: hidden;

  .backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    filter: brightness(0.5);
    transform-origin: center center;
    will-change: transform, filter, width, height, border-radius;

    img {
      transform: scale(1);
      transform-origin: center center;
      will-change: transform;
    }
  }

  .contentWrapper {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 71px 16px 68px;
    box-sizing: border-box;

    .frameContainer {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      max-width: 361px;
      height: 713px;
      border: 3px solid #FFFFF0;
      border-radius: 50px;
      padding: 152px 32px 95px;
      box-sizing: border-box;

      .mainContent {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 40px;
        padding-left: 31px;
        padding-right: 21px;

        .titleText {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 8px;

          span {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 309px;
            height: 52px;
            font-family: var(--tactic-sans-bold), sans-serif;
            font-weight: bold;
            font-size: 32px;
            color: #FFFFFF;
            text-align: left;
          }
        }

        .infoText {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 16px;

          p {
            font-family: var(--montserrat), sans-serif;
            font-weight: 500;
            font-size: 15px;
            color: #FFFFFF;
            text-align: left;
            margin: 0;
          }
        }
      }
    }
  }
}
