@use 'breakpoints' as *;

.sliderContainer {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  
  @include responsive-block((
    width: 1246px,
    max-width: 1246px,
    height: 564px
  ));
}

.sliderWrapper {
  display: flex;
  height: 100%;
  transition: transform 0.3s ease;
}

.slide {
  flex-shrink: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #457B9D;
  color: white;
  box-sizing: border-box;
  transition: transform 0.3s ease, opacity 0.3s ease, filter 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  opacity: 0.7;
  filter: blur(2px);
  
  @include responsive-block((
    width: 389px,
    border-radius: 40px,
    font-size: 20px
  ));
}

.slide.active {
  opacity: 1;
  transform: scale(1);
  filter: blur(0px);
  z-index: 1;
  @include responsive-shadow(0px, 5px, 15px, rgba(0, 0, 0, 0.3));
}

.slide.prev {
  opacity: 0.7;
  transform: scale(0.925) translateX(100px);
  filter: blur(1px);
  z-index: 0;
  pointer-events: none;
  cursor: default;
}

.slide.next {
  opacity: 0.7;
  transform: scale(0.925) translateX(-100px);
  z-index: 0;
  pointer-events: none;
  cursor: default;
}

.slide.nonVisible {
  display: none; 
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(217, 23, 34, 0.25);
  cursor: pointer;
  z-index: 10;
  transition: background-color 0.3s ease;
  display: inline-block;
  -webkit-mask-image: url('../../../../../../assets/svg/carousel_arrow.svg');
  mask-image: url('../../../../../../assets/svg/carousel_arrow.svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  
  @include responsive-block((
    width: 95px,
    height: 95px
  ));
  
  &.prev {
    top: 40%;
    transform: rotate(180deg);
    @include responsive-block((left: 10px));
  }

  &.next {
    @include responsive-block((right: 10px));
  }

  &:hover {
    background-color: rgba(217, 23, 34, 1);
  }
}
