@use 'breakpoints' as *;

.openedPersonBlock{
  display: flex;
  flex-direction: row;
  background-color: #fffff0;
  
  @include responsive-block((
    width: 772px,
    padding: 32px,
    gap: 20px,
    border-radius: 40px
  ));

  .textBlock{
    display: flex;
    flex-direction: column;
    @include responsive-block((gap: 20px));

    .textLine{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      
      @include responsive-block((
        width: 417px,
        height: 105px
      ));

      .nameLine{
        display: flex;
        flex-direction: row;
        width: 100%;
        font-family: var(--tactic-sans-bold), sans-serif;
        font-weight: bold;
        text-align: left;
        color: #457B9D;
        @include responsive-block((font-size: 20px));

        .surname{
          color: #1A2344
        }
      }

      .achievementItem{
        font-family: var(--montserrat), sans-serif;
        font-weight: 500;
        text-align: left;
        line-height: 1.2;
        color: #1A2344;
        
        @include responsive-block((
          font-size: 20px,
          width: 417px
        ));
      }
    }
  }
  
  .imageBlock{
    overflow: hidden;
    position: relative;
    background-color: #1A2344;
    
    @include responsive-block((
      width: 271px,
      height: 354px,
      border-radius: 28px
    ));

    .image{
      object-fit: cover;
      transform-origin: top left;
      max-width: unset;
      max-height: unset;
      pointer-events: none;

      @include laptops-down {
        transform: scale($scale-laptop);
      }
    }
  }
}
