.inputGroup {
  display: flex;
  flex-direction: column;

  .label {
    display: flex;
    align-items: center;
    font-family: var(--montserrat), sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #1A2344;
    margin-left: 16px;
    height: 42px;
  }

  .input {
    display: flex;
    width: 100%;
    height: 42px;
    align-items: center;
    padding-left: 16px;
    border: none;
    border-radius: 40px;
    background-color: #A8DADC;
    font-family: var(--montserrat), sans-serif;
    font-size: 18px;
    color: #1A2344;
    outline: none;
    transition: box-shadow 0.2s ease;

    &::placeholder {
      color: rgba(26, 35, 68, 0.5);
    }

    &:focus {
      box-shadow: 0 0 0 2px #457B9D;
    }
  }
}

@media (max-width: 1366px) and (max-height: 820px) {
  .inputGroup {

    .label {
      font-size: 20px * 0.67;
      margin-left: 16px * 0.67;
      height: 42px * 0.67;
    }

    .input {
      height: 42px * 0.67;
      padding-left: 16px * 0.67;
      border-radius: 40px * 0.67;
      font-size: 18px * 0.67;
    }
  }
}

