@use 'breakpoints' as *;

.inputGroup {
  display: flex;
  flex-direction: column;

  .label {
    display: flex;
    align-items: center;
    font-family: var(--montserrat), sans-serif;
    font-weight: 600;
    color: #1A2344;
    
    @include responsive-block((
      font-size: 20px,
      margin-left: 16px,
      height: 42px
    ));
  }

  .input {
    display: flex;
    width: 100%;
    align-items: center;
    border: none;
    background-color: #A8DADC;
    font-family: var(--montserrat), sans-serif;
    color: #1A2344;
    outline: none;
    transition: box-shadow 0.2s ease;
    
    @include responsive-block((
      height: 42px,
      padding-left: 16px,
      border-radius: 40px,
      font-size: 18px
    ));

    &::placeholder {
      color: rgba(26, 35, 68, 0.5);
    }

    &:focus {
      box-shadow: 0 0 0 2px #457B9D;
    }
  }
}
