@use 'breakpoints' as *;

.slideWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 32px;
  gap: 20px;

  @include laptops-down {
    padding: scaled(32px);
    gap: scaled(20px);
  }

  .slideInfoLine {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 325px;
    height: 110px;

    @include laptops-down {
      width: scaled(325px);
      height: scaled(110px);
    }

    .halfLine {
      display: flex;
      flex-direction: row;
      height: 50%;
      width: 100%;
    }

    .discipline,
    .dateAndTime {
      font-size: 18px;
      font-family: var(--montserrat), sans-serif;
      font-weight: 500;
      text-align: left;
      color: #1A2344;
      align-items: center;

      @include laptops-down {
        font-size: scaled(18px);
      }
    }

    .offerName {
      text-align: center;
      font-size: 30px;
      font-family: var(--montserrat), sans-serif;
      font-weight: 500;
      color: #fffff0;

      @include laptops-down {
        font-size: scaled(30px);
      }
    }

    .price {
      text-align: left;
      font-size: 48px;
      font-family: var(--tactic-sans-medium), sans-serif;
      font-weight: 500;
      color: #fffff0;

      @include laptops-down {
        font-size: scaled(48px);
      }
    }

    .ridingLevel {
      font-size: 26px;
      font-family: var(--montserrat), sans-serif;
      font-weight: 500;
      text-align: left;
      color: #1A2344;
      align-items: center;

      @include laptops-down {
        font-size: scaled(26px);
      }
    }
  }

  .bottomLine {
    align-items: center;
    justify-content: center;
  }
}
