@use 'breakpoints' as *;

.contactFormModalWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;

  .logoWrapper {
    @include responsive-block((
      width: 80px,
      height: 80px,
      margin-bottom: -40px
    ));

    .logoImage {
      @include responsive-block((
        width: 60px,
        height: 60px
      ));
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFF0;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    
    @include responsive-block((
      width: 455px,
      border-radius: 40px,
      gap: 20px
    ));
    @include responsive-4(padding, 32px, 24px, 32px, 24px);

    .closeButton {
      position: absolute;
      border: none;
      background: transparent;
      padding: 0;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: transform 0.2s ease;
      
      @include responsive-block((
        top: -17px,
        right: -14px,
        width: 50px,
        height: 50px
      ));

      &:hover {
        transform: scale(1.1);
      }

      .closeIcon {
        @include responsive-block((
          width: 50px,
          height: 50px
        ));
      }
    }

    .header {
      text-align: center;
      align-content: center;
      @include responsive-block((height: 84px));

      .title {
        font-family: var(--tactic-sans-bold), sans-serif;
        font-weight: 700;
        color: #1A2344;
        justify-content: center;
        text-transform: uppercase;
        @include responsive-block((font-size: 16px));
      }

      .subtitle {
        font-family: var(--montserrat), sans-serif;
        font-weight: 500;
        color: #457B9D;
        margin: 0;
        @include responsive-block((font-size: 22px));
      }
    }

    .form {
      display: flex;
      flex-direction: column;
      width: 100%;
      @include responsive-block((gap: 20px));

      .infoText {
        font-family: var(--montserrat), sans-serif;
        color: #1A2344;
        text-align: center;
        @include responsive-block((font-size: 20px));

        .link {
          color: #457B9D;
          text-decoration: none;
          
          &:hover {
            text-decoration: underline;
          }
        }
      }

      .submitButton {
        width: 100%;
        border: none;
        border-radius: 100px;
        background-color: #D91722;
        color: #FFFFF0;
        font-family: var(--tactic-sans-bold), sans-serif;
        font-weight: 700;
        cursor: pointer;
        transition: background-color 0.2s ease;
        
        @include responsive-block((
          padding: 24px,
          font-size: 18px,
          margin-top: 8px
        ));

        &:hover {
          background-color: #B8131D;
        }

        &:disabled {
          background-color: #999;
          cursor: not-allowed;
        }
      }

      .errorText {
        font-family: var(--montserrat), sans-serif;
        color: #D91722;
        text-align: center;
        @include responsive-block((font-size: 16px));
      }

      .successText {
        font-family: var(--tactic-sans-bold), sans-serif;
        font-weight: 700;
        color: rgb(168, 218, 220);
        text-align: center;
        text-transform: uppercase;
        @include responsive-block((font-size: 16px));
      }
    }
  }
}
