@use 'breakpoints' as *;

.callToActionSlideWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  
  @include responsive-block((
    margin-top: 500px,
    margin-bottom: 180px
  ));

  .slideLine{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;

    .callToActionBlock{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      background: url('../../../../../assets/png/call_to_action_bg.png') center;
      
      @include responsive-block((
        width: 1247px,
        height: 325px,
        border-radius: 40px,
        gap: 20px
      ));
      @include responsive-2(padding, 32px, 18px);
      @include responsive-shadow(0px, 4px, 18px, rgba(69, 123, 157, 0.25));

      .blockLine{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        
        @include responsive-block((
          width: 807px,
          gap: 13px
        ));

        .titleText{
          color: #fffff0;
          font-family: var(--tactic-sans-medium), sans-serif;
          font-weight: 500;
          @include responsive-block((font-size: 26px));
        }

        .mainText{
          color: #fffff0;
          font-family: var(--montserrat), sans-serif;
          font-weight: 500;
          
          @include responsive-block((
            width: 605px,
            font-size: 20px
          ));
        }
      }
    }
  }
}
