.callToActionSlideWrapper{
	display:flex;
  flex-direction: column;
  align-items: center;
  margin-top: 180px;
	margin-bottom: 180px;
  width: 100%;

  .slideLine{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;

		.callToActionBlock{
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			width: 1247px;
			height: 325px;
			padding: 32px 18px;
			box-shadow: 0px 4px 18px rgba(69, 123, 157, 0.25);
			border-radius: 40px;
			background: url('../../../../../assets/png/call_to_action_bg.png') center;
			gap: 20px;

			.blockLine{
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
				width: 807px;
				gap: 13px;

				.titleText{
					color: #fffff0;
					font-family: var(--tactic-sans-medium), sans-serif;
					font-weight: 500;
					font-size: 26px;
				}

				.mainText{
					width: 605px;
					color: #fffff0;
					font-family: var(--montserrat), sans-serif;
					font-weight: 500;
					font-size: 20px;
				}

				.buttonWrapper {
					display: flex;
					flex-direction: row;
					background-color: #D91722;
					border-radius: 50px;
					justify-content: space-evenly;
					align-items: center;
					width: 366px;
					height: 69px;
					cursor: pointer;
		
					.buttonText {
						font-size: 16px;
						font-family: var(--tactic-sans-medium), sans-serif;
						font-weight: 500;
						color: #fffff0;
					}
		
					.arrowContainer {
						width: 40px;
						height: 24px;
						display: inline-block;
						background-color: #fffff0;
						-webkit-mask-image: url('../../../../../assets/swg/buttons_arrow.svg');
						mask-image: url('../../../../../assets/swg/buttons_arrow.svg');
						mask-repeat: no-repeat;
						mask-size: contain;
						mask-position: center;
					}
				}
			}
		}
  }
}