@use 'breakpoints' as *;

.navigationModalWrapper{
  display: flex;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  
  @include responsive-block((
    top: 66px,
    width: 336px,
    height: 456px,
    gap: 10px
  ));

  .topContentWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;

    .topElement{
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      transform-origin: center;
      background-color: #FFFFF0;
      box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
      z-index: 10;
      cursor: pointer;
      overflow: hidden;
      
      @include responsive-block((
        width: 296px,
        height: 100px,
        border-radius: 100px
      ));
      @include responsive-2(padding, 0px, 24px);

      .logoImageWrapper{
        display: flex;
        
        @include responsive-block((
          min-width: 66px,
          min-height: 66px
        ));
      
        .logoImage {
          width: 100%;
          height: 100%;
        }
      }
      
      .logoTextWrapper{
        display: flex;
        height: auto;
        @include responsive-block((width: 170px));
        
        .logoText { 
          width: 100%;
          height: auto;
        }
      }
      
      .logoArrowWrapper{
        display: flex;
        position: absolute;
        height: auto;
        
        @include responsive-block((
          width: 41px,
          left: 111px
        ));
        
        .logoArrow { 
          width: 100%;
          height: auto;
        }
      }
    }
  }

  .content{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: #FFFFF0;
    pointer-events: none;
    background-color: rgba(26, 35, 68, 0.75);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
    
    @include responsive-block((
      gap: 10px,
      border-width: 4px,
      border-radius: 40px
    ));
    @include responsive-2(padding, 16px, 0px);

    .modalRow{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      
      @include responsive-block((
        height: 63px,
        min-height: 63px
      ));

      .text{
        color: #FFFFF0;
        font-family: var(--tactic-sans-medium), sans-serif;
        font-weight: 500;
        text-align: center;
        cursor: pointer;
        pointer-events: auto;
        @include responsive-block((font-size: 20px));
      }
    }
  }
}
