@use 'breakpoints' as *;

.navigationMenuButton{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 240, 1);
  transition: background-color 0.3s ease;
  backdrop-filter: blur(10px);
  
  @include responsive-block((
    width: 168px,
    height: 77px,
    border-radius: 40px
  ));
  @include responsive-2(padding, 0px, 13px);
  
  &:hover{
    background-color: rgb(255, 255, 240, 1);
  }
}
