.elseOffersWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  
  .titleWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 361px;
    height: 80px;
    border-bottom: 2px solid #A8DADC;
    box-sizing: border-box;
    cursor: pointer;

    &:active {
      opacity: 0.8;
    }

    .textBlock {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      padding: 8px 0;

      .subtitle {
        font-family: var(--montserrat), sans-serif;
        font-weight: normal;
        font-size: 14px;
        color: #FFFFF0;
        line-height: 1;
      }

      .title {
        font-family: var(--tactic-sans-medium), sans-serif;
        font-weight: 500;
        font-size: 24px;
        color: #A8DADC;
        margin: 0;
      }
    }

    .arrowWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 48px;

      .arrowIcon {
        width: 32px;
        height: 32px;
        background-color: #A8DADC;
        mask-image: url('../../../../../../assets/svg/arrow.svg');
        -webkit-mask-image: url('../../../../../../assets/svg/arrow.svg');
        mask-repeat: no-repeat;
        mask-size: contain;
        mask-position: center;
      }
    }
  }
}

