@use 'breakpoints' as *;

.aboutUsSlideWrapper{
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;
  padding: 16px 0;

  .leftSide{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 16px;
    gap: 8px;
  }

  .rightSide{
    display: flex;
    flex-direction: column;
    height: 705px;
  }
}
