@use 'breakpoints' as *;

.navigationMenuClosedWrapper{
  display: flex;
  position: fixed;
  z-index: 11;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  cursor: default;
  @include responsive-block((top: 18px));
}
