@use 'breakpoints' as *;

.elseOfferInfoWrapper {
  display: flex;
  flex-direction: column;
  background-color: #fffff0;
  
  @include responsive-block((
    width: 613px,
    height: 710px,
    border-radius: 40px,
    padding: 32px,
    gap: 20px
  ));

  .imageBlock {
    overflow: hidden;
    position: relative;
    width: 100%;
    background-color: aqua;
    
    @include responsive-block((
      height: 246px,
      border-radius: 40px
    ));

    .image {
      object-fit: cover;
      transform-origin: top left;
      max-width: unset;
      max-height: unset;
      pointer-events: none;

      @include laptops-down {
        transform: scale($scale-laptop);
      }
    }
  }

  .blockLine {
    display: flex;
    width: 100%;
    @include responsive-block((height: 114px));

    .buttonWrapper {
      display: flex;
      flex-direction: row;
      background-color: #D91722;
      justify-content: space-evenly;
      align-items: center;
      width: 75%;
      height: 75%;
      cursor: pointer;
      @include responsive-block((border-radius: 50px));

      .buttonText {
        font-family: var(--tactic-sans-bold), sans-serif;
        font-weight: bold;
        color: #A8DADC;
        @include responsive-block((font-size: 24px));
      }

      .arrowContainer {
        display: inline-block;
        background-color: #a8dadc;
        -webkit-mask-image: url('../../../../../../../assets/svg/buttons_arrow.svg');
        mask-image: url('../../../../../../../assets/svg/buttons_arrow.svg');
        mask-repeat: no-repeat;
        mask-size: contain;
        mask-position: center;
        
        @include responsive-block((
          width: 40px,
          height: 24px
        ));
      }
    }
  }

  .mirror {
    justify-content: flex-end;
  }
}
