@use 'breakpoints' as *;

.youWillFindInfoWrapper {
  display: flex;
  flex-direction: column;
  
  .titleWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 3px solid #A8DADC;
    box-sizing: border-box;
    cursor: pointer;
    
    @include responsive-block((
      width: 613px,
      height: 126px
    ));

    .arrowWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      
      @include responsive-block((
        width: 90px,
        height: 96px
      ));
    }
  }
}
