.container {
  display: flex;
  flex-direction: column;
	justify-content: space-between;
  width: 238px;
	height: 467px;
  background-color: #FFFFF0;
  border-radius: 40px;
  padding: 16px 8px;
  box-sizing: border-box;
	gap: 8px;

	.infoModule{
		display: flex;
		width: 100%;
		height: 103px;
		flex-direction: column;


		.introText {
			font-family: var(--montserrat), sans-serif;
			font-weight: 500;
			font-size: 10px;
			color: #457B9D;
			text-align: left;
			margin: 0 0 16px 0;
		}
		
		.sectionTitle {
			font-family: var(--tactic-sans-bold), sans-serif;
			font-weight: bold;
			font-size: 11px;
			color: #1D3557;
			text-align: left;
			margin: 0 0 16px 0;
		}
		
		
	}
	.offersList {
		display: flex;
		flex-direction: column;
		gap: 16px;
		width: 100%;

		
	}

	.offerItem {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 222px;
	}
	
	.offerTitle {
		font-family: var(--tactic-sans-bold), sans-serif;
		font-weight: bold;
		font-size: 12px;
		color: #1D3557;
		text-align: left;
		text-transform: uppercase;
	}
	
	.offerDescription {
		font-family: var(--montserrat), sans-serif;
		font-weight: 500;
		font-size: 10px;
		color: #457B9D;
		text-align: left;
		margin: 0;
	}
	
}
