@use 'breakpoints' as *;

.topContentWrapper{
  display: flex;
  align-items: center;
  flex-direction: row;
  @include responsive-block((gap: 10px));
}

.logoImageWrapper{
  display: flex;
  
  @include responsive-block((
    width: 80px,
    height: 80px
  ));

  .logoImage {
    width: 100%;
    height: 100%;
  }
}

.logoTextWrapper{
  display: flex;
  height: auto;
  @include responsive-block((width: 203px));
  
  .logoText { 
    width: 100%;
    height: auto;
  }
}

.logoArrowWrapper{
  display: flex;
  position: absolute;
  height: auto;
  
  @include responsive-block((
    width: 41px,
    left: 441px
  ));
  
  .logoArrow { 
    width: 100%;
    height: auto;
  }
}
