.slideWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 12px;
  gap: 6px;
  box-sizing: border-box;

  .slideInfoLine {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: auto;
  }

  .discipline,
  .dateAndTime {
    font-size: 10px;
    font-family: var(--montserrat), sans-serif;
    font-weight: 500;
    text-align: left;
    color: #1A2344;
  }

  .offerName {
    font-size: 14px;
    font-family: var(--montserrat), sans-serif;
    font-weight: 500;
    color: #FFFFF0;
    line-height: 1.2;
  }

  .price {
    font-size: 24px;
    font-family: var(--tactic-sans-medium), sans-serif;
    font-weight: 500;
    color: #FFFFF0;
  }

  .ridingLevel {
    font-size: 12px;
    font-family: var(--montserrat), sans-serif;
    font-weight: 500;
    text-align: left;
    color: #1A2344;
  }

  .buttonLine {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex: 1;
    padding-bottom: 4px;
  }
}

