.aboutUsSlideWrapper{
  display: flex;
  flex-direction: row;
  gap: 20px;
  
  padding: 32px 178px 0px 178px;

  .textInfoBlock{
    display: flex;
    flex-direction: column;
    width: 772px;
    padding: 60px 32px;
    border-radius: 60px;
    background-color: #fffff0;
    gap: 20px;

    .contentRow{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      min-height: 166px;
    }
  }

  .imageBlock{
    overflow: hidden;
    position: relative;
    width: 772px;
    height: 856px;
    border-radius: 60px;
    background-color: #fffff0;
      
    .image {
      object-fit: cover;
      object-position: -644px -364px;
      transform-origin: top left;
      max-width: unset;
      max-height: unset;
      pointer-events: none;
    }
  }
}

@media (max-width: 1366px) and (max-height: 820px) {
  .aboutUsSlideWrapper {
    padding: 21px 120px 0 120px;
    gap: 14px;

    .textInfoBlock {
      width: 517px;
      padding: 40px 21px;
      border-radius: 40px;
      gap: 13px;

      .contentRow{
        min-height: 111px;
      }
    }

    .imageBlock{
      width: 517px;
      height: 573px;
      border-radius: 40px;

      .image{
        transform: scale(0.67);
      }
    }
  }
}