@use 'breakpoints' as *;

.aboutUsSlideWrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  @include responsive-block((
    gap: 20px,
    margin-top: 300px
  ));

  .textInfoBlock{
    display: flex;
    overflow: hidden;
    flex-direction: column;
    background-color: #fffff0;
    
    @include responsive-block((
      width: 772px,
      border-radius: 60px,
      gap: 20px
    ));
    @include responsive-2(padding, 60px, 32px);

    .contentRow{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      @include responsive-block((
        min-height: 166px,
        gap: 35px
      ));
    }
  }

  .imageBlock{
    overflow: hidden;
    position: relative;
    background-color: transparent;
    
    @include responsive-block((
      width: 772px,
      height: 856px
    ));
  }
}
