@use 'breakpoints' as *;

.firstSlideWrapper{
  position: relative;

  .contentWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
    color: white;
    @include responsive-4(padding, 108px, 178px, 205px, 178px);
  }

  .backgroundWrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    filter: brightness(0.5);

    .backgroundImage {
      width: 100%;
      height: 100%;
      position: relative;

      .image {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
        transform-origin: center;
        max-width: unset;
        max-height: unset;
        pointer-events: none;
      }
    }
  }

  .mainContent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    @include responsive-4(margin, 97px, 159px, 97px, 159px);
    
    .infoText,
    .titleText{
      color: #fffff0;
      word-wrap: break-word;
      overflow-wrap: break-word;
      text-align: center;
    }

    .titleText{
      font-family: var(--tactic-sans-bold), sans-serif;
      font-weight: bold;
      @include responsive-block((font-size: 70px));
    }

    .infoText{
      font-family: var(--font-montserrat), sans-serif;
      font-weight: Regular;
      
      @include responsive-block((
        width: 930px,
        font-size: 30px
      ));
    }
  }
}

.bottomContent{
  display: flex;
  justify-content: center;
  cursor: pointer;

  .buttonText{
    font-family: var(--tactic-sans-regular), sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #fffff0;
  }
}
