.ourOffersWrapper{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top: 500px;
  width: 100%;
  gap: 20px;

  .titleLine{
    display: flex;
    align-items: flex-end;
    height: 84px;

    .titleText{
      color: #fffff0;
      text-align: center;
      font-family: var(--tactic-sans-bold), sans-serif;
      font-weight: bold;
      font-size: 70px;
    }
  }

  .slideLine{
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
  }

  .sliderWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .elseOffers{
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}

@media (max-width: 1366px) and (max-height: 820px) {
  .ourOffersWrapper{
    margin-top: 500px * 0.67;
    gap: 20px * 0.67;
  
    .titleLine{
      height: 84px * 0.67;
  
      .titleText{
        font-size: 70px * 0.67;
      }
    }
  
    .slideLine{
      gap: 20px * 0.67;
    }
  
    .elseOffers{
      gap: 20px * 0.67;
    }
  }
}