@use 'breakpoints' as *;

.ourOffersWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  
  @include responsive-block((
    margin-top: 500px,
    gap: 20px
  ));

  .titleLine{
    display: flex;
    align-items: flex-end;
    @include responsive-block((height: 84px));

    .titleText{
      color: #fffff0;
      text-align: center;
      font-family: var(--tactic-sans-bold), sans-serif;
      font-weight: bold;
      @include responsive-block((font-size: 70px));
    }
  }

  .slideLine{
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    @include responsive-block((gap: 20px));
  }

  .sliderWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .elseOffers{
    display: flex;
    flex-direction: row;
    @include responsive-block((gap: 20px));
  }
}
