@use 'breakpoints' as *;

.youWillFindSlideWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  @include responsive-block((
    margin-top: 500px,
    gap: 32px
  ));

  .titleLine{
    display: flex;
    align-items: flex-end;
    
    @include responsive-block((
      width: 1246px,
      height: 84px
    ));

    .titleText{
      color: #fffff0;
      text-align: start;
      font-family: var(--tactic-sans-bold), sans-serif;
      font-weight: bold;
      @include responsive-block((font-size: 70px));
    }
  }

  .slideLine{
    display: flex;
    flex-direction: column;
    @include responsive-block((width: 1246px));
  }
}
