.sectionContentWrapper {
  width: 361px;
  border-radius: 40px;
  overflow: hidden;
  height: 0;

  .infoGrid {
    display: grid;
    grid-template-columns: repeat(2, 169px);
    grid-template-rows: repeat(2, auto);
    gap: 6px 8px;
    margin: 16px 8px 0px 8px;

    .infoItem {
      display: flex;
      flex-direction: column;
      width: 169px;
      min-height: 61px;

      .infoTitle {
        display: flex;
        align-items: start;
        padding-top: 16px;
        font-family: var(--tactic-sans-medium), sans-serif;
        height: 60px;
        font-weight: 500;
        font-size: 14px;
      }

      .infoText {
        font-family: var(--montserrat), sans-serif;
        height: 60px;
        font-weight: 400;
        font-size: 10px;
      }
    }
  }

  .imageWrapper {
    position: relative;
    width: calc(100% - 6px);
    height: 140px;
    border-radius: 40px;
    overflow: hidden;
    margin: 0 3px 3px 3px;
  }
}

