@use 'breakpoints' as *;

.newArrowBlock {
  position: relative;
  
  @include responsive-block((
    width: 90px,
    height: 130px
  ));

  .arrowContainer {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: inline-block;
    background-color: #a8dadc;
    -webkit-mask-image: url('../../../../../../../assets/svg/arrow.svg');
    mask-image: url('../../../../../../../assets/svg/arrow.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    
    @include responsive-block((
      width: 78px,
      height: 65px
    ));
  }
}
