.buttonWrapper {
	position: relative;
	display: flex;
	flex-direction: row;
	background-color: #D91722;
	border-radius: 50px;
	justify-content: flex-start;
	align-items: center;
	overflow: hidden;
	transition: padding 0.3s ease;
	padding-left: 20px;
	cursor: pointer;
}

.buttonText {
	font-family: var(--tactic-sans-bold), sans-serif;
	font-weight: bold;
	color: #fffff0;
	transition: transform 0.3s ease;
}

.arrowContainer {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 40px;
	height: 24px;
	display: inline-block;
	background-color: #fffff0;
	-webkit-mask-image: url('../../../../assets/swg/buttons_arrow.svg');
	mask-image: url('../../../../assets/swg/buttons_arrow.svg');
	mask-repeat: no-repeat;
	mask-size: contain;
	mask-position: center;
	transition: transform 0.5s ease, opacity 0.5s ease;
}

.arrowContainer.arrowRight {
	right: 20px;
	opacity: 1;
}

.arrowContainer.arrowLeft {
	left: -40px;
	opacity: 0; 
}

.buttonWrapper:hover {
	padding-left: 40px;
	justify-content: flex-start;
}

.buttonWrapper:hover .buttonText {
	transform: translateX(30px);
}

.buttonWrapper:hover .arrowContainer.arrowRight {
	transform: translateX(60px) translateY(-50%);
	opacity: 0;
}

.buttonWrapper:hover .arrowContainer.arrowLeft {
	transform: translateX(60px) translateY(-50%);
	opacity: 1;
}