@use 'breakpoints' as *;

.closedPersonBlock{
  display: flex;
  flex-direction: column;
  cursor: pointer;
  
  @include responsive-block((
    width: 297px,
    gap: 20px
  ));

  .imageBlock{
    overflow: hidden;
    position: relative;
    width: 100%;
    
    @include responsive-block((
      height: 272px,
      border-radius: 40px
    ));

    .image{
      object-fit: cover;
      transform-origin: top left;
      max-width: unset;
      max-height: unset;
      pointer-events: none;

      @include laptops-down {
        transform: scale($scale-laptop);
      }
    }
  }

  .nameLine{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    font-family: var(--tactic-sans-medium), sans-serif;
    font-weight: 500;
    text-align: center;
    color: #A8DADC;
    
    @include responsive-block((
      height: 126px,
      font-size: 18px
    ));
  }
}
