.carouselContainer {
  position: relative;
  width: 100%;
  height: 270px;
  overflow: hidden;
  cursor: grab;
  user-select: none;
  -webkit-user-select: none;
  touch-action: none;

  &:active {
    cursor: grabbing;
  }
}

.track {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide {
  position: absolute;
  top: 20px;
  width: 177px;
  height: 229px;
  background-color: #457B9D;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  will-change: transform;
  transform-origin: center center;

  &:active {
    opacity: 0.9;
  }
}
