.youWillFindInfoWrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 126px;
  border-bottom: 3px solid #A8DADC;
  box-sizing: border-box;
  cursor: pointer;

  .textBlock{
    display: flex;
    flex-direction: column;
    height: 100%;

    .allSubtitles{
      display: flex;
      flex-direction: row;
      padding-left: 3px;
  
      .subtitle{
        font-family: var(--montserrat), sans-serif;
        font-weight: normal;
        font-size: 22px;
        color: #fffff0;
        line-height: 1;
      }
    }
  
    .title{
      display: flex;
      font-family: var(--tactic-sans-medium), sans-serif;
      font-weight: normal;
      font-size: 64px;
      color: #A8DADC;
      line-height: 1;
    }
  }

  .arrowBlock{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-right: 32px;
    
    .arrowContainer {
      width: 78px;
      height: 99px; 
      display: inline-block;
      background-color: #a8dadc;
      -webkit-mask-image: url('../../../../../../assets/svg/arrow.svg');
      mask-image: url('../../../../../../assets/svg/arrow.svg');
      mask-repeat: no-repeat;
      mask-size: contain;
      mask-position: center;
    }

  }
}

.subWrapper{
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
  width: 1247px;
  
}

.subArrowBlock{
  position: relative;

  .subArrowContainer {
    position: absolute;
    width: 78px;
    height: 99px; 
    transform: rotate(-90deg);
    display: inline-block;
    background-color: #a8dadc;
    -webkit-mask-image: url('../../../../../../assets/svg/arrow.svg');
    mask-image: url('../../../../../../assets/svg/arrow.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
  }

}

.newArrowBlock{
  position: relative;
  margin-left: 1247px;

  .subArrowContainer {
    position: absolute;
    width: 78px;
    height: 99px; 
    display: inline-block;
    background-color: #a8dadc;
    -webkit-mask-image: url('../../../../../../assets/svg/arrow.svg');
    mask-image: url('../../../../../../assets/svg/arrow.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
  }

}

@media (max-width: 1366px) and (max-height: 820px) {
  .youWillFindInfoWrapper{
    height: 126px * 0.67;
    border-bottom: 3px * 0.67 solid #A8DADC;
  
    .textBlock{
  
      .allSubtitles{
        padding-left: 3px * 0.67;
    
        .subtitle{
          font-size: 22px * 0.67;
        }
      }
    
      .title{
        font-size: 64px * 0.67;
      }
    }
  
    .arrowBlock{
      margin-right: 32px * 0.67;
      
      .arrowContainer {
        width: 78px * 0.67;
        height: 99px * 0.67; 
      }
  
    }
  }

  .subWrapper{
    width: 1247px * 0.67;
  }

  .subArrowBlock{
  
    .subArrowContainer {
      width: 78px * 0.67;
      height: 99px * 0.67; 
    }
  }

  .newArrowBlock{
    margin-left: 1137px * 0.67;
  
    .subArrowContainer {
      width: 78px * 0.67;
      height: 99px * 0.67; 
    }
  }
}
