@use 'breakpoints' as *;

.youWillFindInfoWrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  
  @include responsive-block((
    height: 126px,
    border-bottom-width: 3px
  ));
  border-bottom-style: solid;
  border-bottom-color: #A8DADC;

  .textBlock{
    display: flex;
    flex-direction: column;
    height: 100%;

    .allSubtitles{
      display: flex;
      flex-direction: row;
      @include responsive-block((padding-left: 3px));
  
      .subtitle{
        font-family: var(--montserrat), sans-serif;
        font-weight: normal;
        color: #fffff0;
        line-height: 1;
        @include responsive-block((font-size: 22px));
      }
    }
  
    .title{
      display: flex;
      font-family: var(--tactic-sans-medium), sans-serif;
      font-weight: normal;
      color: #A8DADC;
      line-height: 1;
      @include responsive-block((font-size: 64px));
    }
  }

  .arrowBlock{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    @include responsive-block((margin-right: 32px));
    
    .arrowContainer {
      display: inline-block;
      background-color: #a8dadc;
      -webkit-mask-image: url('../../../../../../assets/svg/arrow.svg');
      mask-image: url('../../../../../../assets/svg/arrow.svg');
      mask-repeat: no-repeat;
      mask-size: contain;
      mask-position: center;
      
      @include responsive-block((
        width: 78px,
        height: 99px
      ));
    }
  }
}

.subWrapper{
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
  @include responsive-block((width: 1350px));
}

.subArrowBlock{
  position: relative;

  .subArrowContainer {
    position: absolute;
    transform: rotate(-90deg);
    display: inline-block;
    background-color: #a8dadc;
    -webkit-mask-image: url('../../../../../../assets/svg/arrow.svg');
    mask-image: url('../../../../../../assets/svg/arrow.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    
    @include responsive-block((
      width: 78px,
      height: 99px
    ));
  }
}

.newArrowBlock{
  position: relative;
  @include responsive-block((margin-left: 1137px));

  .subArrowContainer {
    position: absolute;
    display: inline-block;
    background-color: #a8dadc;
    -webkit-mask-image: url('../../../../../../assets/svg/arrow.svg');
    mask-image: url('../../../../../../assets/svg/arrow.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    
    @include responsive-block((
      width: 78px,
      height: 99px
    ));
  }
}
