@use 'breakpoints' as *;

.topElement{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 12;
  @include responsive-block((top: 52px));

  .topElementContent{
    position: relative;
    overflow: hidden;
    background-color: #FFFFF0;
    border: 2px solid #FFFFF0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    @include responsive-block((
      width: 341px,
      height: 114px,
      border-radius: 100px
    ));
    @include responsive-2(padding, 0px, 22px);
  }
}

.frameContainer {
  display: flex;
  position: relative;
  width: 100%;
  border-style: solid;
  border-color: #FFFFF0;
  box-sizing: border-box;
  
  @include responsive-block((
    border-width: 4px,
    border-radius: 100px
  ));
  
  .bottomElement {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #D91722;
    border: 2px solid #FFFFF0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
    @include responsive-block((
      width: 295px,
      height: 77px,
      border-radius: 50px,
      bottom: -39px
    ));
  }

  .content {
    display: contents;
    flex-direction: row;
  }
}
