@use 'breakpoints' as *;

.youWillFindInfoBlockWrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  
  @include responsive-block((
    height: 560px,
    border-radius: 60px,
    gap: 20px,
    padding: 32px
  ));
  @include responsive-2(margin, 20px, 0px);

  .textBlock{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    
    @include responsive-block((
      width: 781px,
      gap: 20px
    ));
  }

  .imageBlock{
    overflow: hidden;
    position: relative;
    height: 100%;
    background-color: #fffff0;
    
    @include responsive-block((
      width: 380px,
      border-radius: 40px
    ));

    .image{
      object-fit: cover;
      transform-origin: top left;
      max-width: unset;
      max-height: unset;
      pointer-events: none;

      @include laptops-down {
        transform: scale($scale-laptop);
      }
    }
  }
}
