.youWillFindInfoBlockWrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0;
  padding: 32px;
  width: 100%;
  height: 560px;
  border-radius: 60px;
  gap: 20px;

  .textBlock{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    width: 781px;
    gap: 20px;
  }

  .imageBlock{
    overflow: hidden;
    position: relative;
    width: 380px;
    height: 100%;
    border-radius: 40px;
    background-color: #fffff0;

    .image{
      object-fit: cover;
      transform-origin: center;
      max-width: unset;
      max-height: unset;
      pointer-events: none;
    }
  }
}