@use 'breakpoints' as *;

.bottomContent{
  display: flex;
  justify-content: center;
  cursor: pointer;

  .buttonText{
    font-family: var(--tactic-sans-regular), sans-serif;
    font-weight: normal;
    text-wrap: nowrap;
    color: #fffff0;
    @include responsive-block((font-size: 16px));
  }
}
