@import '@/styles/_breakpoints.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #1A2344;
  box-sizing: border-box;
  
  @include responsive-4(padding, 40px, 20px, 40px, 20px);

  .title {
    font-family: var(--tactic-sans-medium), sans-serif;
    font-weight: 500;
    color: #FFFFF0;
    text-align: center;
    line-height: 1.2;
    
    @include responsive-size(font-size, 40px);
    @include responsive-4(margin, 0, 0, 40px, 0);
  }

  .titleMobile {
    font-family: var(--tactic-sans-medium), sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFF0;
    text-align: center;
    line-height: 1.2;
    margin: 0 0 56px 0;
    width: 361px;
    padding: 0 16px;
    box-sizing: border-box;
  }

  .imageWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
    @include responsive-size(width, 400px);
    @include responsive-size(height, 400px);
  }
  
  .imageWrapperMobile {
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
